.card{
    border-radius: 1em;
    box-shadow: 0px -3px 15px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -3px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 15px -4px rgba(0,0,0,0.75);   
}