:root {
    --indigo :   #4b0082;
    --lemon  :   #FAF0CA;
    --orange :   #F4D35E;
    --soda   :   #F95738
}

body {
    background-color: var(--lemon) ;
}

.btn-link{
    text-decoration: none
}

.main-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: gray;
}

.btn-link {
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.nav-link{
    color: white;
}


/* Botones */

.btn-primary{
    background-color: var(--indigo);
    border-color: var(--indigo);

}
.btn-primary:hover {
    background-color: var(--indigo);
    border-color: var(--indigo);
}
.btn-primary:focus {
    background-color: var(--indigo);
    border-color: var(--indigo);
    box-shadow: 2px 2px 20px 1px var(--indigo);
}