#login-card {
    box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.75);
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 1rem;
}